<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- newsletter -->
<section class="newsletter" th:fragment="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h6 class="sing-up-text">sign up to
                    <strong>newsletter</strong> &
                    <strong>free shipping</strong> for first shopping</h6>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="sing-up-input">
                    <input name="singup" type="text" placeholder="Your email address...">
                    <input name="submit" type="button" value="Submit" /> </div>
            </div>
        </div>
    </div>
</section>